{% extends 'index.html' %}
{% load static %}
{% block body %}
{% if error %}

{% endif %}
	{% comment %} <div class="w3l_banner_info" style="height:10px">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div> {% endcomment %}
	<!-- //banner-slider -->
</div>
</header>

<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact" style="margin-top:7%">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">About</h3>
	<!-- contact -->
	
	<section class="wthree-row py-5 w3-contact" id="contact">
		<div class="container py-md-5">
			
			<div class="row contact-form ">
                <p>
                The FIX IT RIGHT SERVICES website is very useful because the customer donot have to visit to service providers office; he/she can easily book his/her order via this website. So he/she can book order without any kind of disturbance.
                It provides different types of services like plumbing service, electrical service, Carpentry service etc. Customers can find his/her service provider in just a click and he/she will be at the customer's door. 
                With complete profiles of professionals, including their work details, service information and reviews; customer can be sure of hiring the right service professional each and every time at FIX IT RIGHT SERVICES.
                The vision of FIX IT RIGHT SERVICES is to serve all the customers requirement services and improve the quality of people's lives through technology solutions by providing quality services at their doorsteps.
           </p>	
				
				
			</div>
        </div>
	</section>
	</section>
	<!-- //contact -->

{% endblock %}